header{
  .navbar-default{
    background-color: transparent;
    border: none;
  }
  .navbar-brand{
    background-color: #ffffff;
    box-shadow: 0 5px 18px 0 rgba(40, 61, 99, 0.16);
    display: block;
    float: none;
    height: 90px;
    padding: 25px 15px;
  }
  .navbar-top{
    padding-left: 100px;
    li{
      a{
        padding-top: 30px;
        padding-bottom: 0;
        font-size: 16px;
        text-align: left;
        color: #2a2a2a;
        font-weight: bold;
        &.callme{
          color: #cfa015;
        }
        &.search{
          font-weight: normal;
          color: #c5c4cd;
          &:before{
            content: '';
            width: 2px;
            height: 20px;
            position: absolute;
            left: 0;
            bottom: 2px;
            background: #c5c4cd;
          }
        }
      }
    }
  }
  .navbar-bottom{
    li{
      a{
        padding: 17px 0 0  20px;
        &.active{
          position: relative;
          &:before{
            content: '';
            position: absolute;
            left: 20px;
            bottom: 0px;
            width: 15px;
            height: 1px;
            background: black;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  header{
    .navbar-brand{
      padding: 10px;
      height: 60px;
    }
    .navbar-top{
      padding: 0;
    }
  }
  .navbar-toggle{
    margin-top: 15px;
  }
}
